*.o

Makefile
config.h
config.log
config.status
docs/Makefile
docs/html-docs/Makefile
docs/html-docs/jpgs/Makefile
docs/qex-december-1996/Makefile
docs/theory/Makefile
examples/Makefile
m4/Makefile
man/Makefile
man/man1/Makefile
src/.deps/
src/Makefile
src/atlc
src/create_any_bitmap
src/create_bmp_for_circ_in_circ
src/create_bmp_for_circ_in_rect
src/create_bmp_for_microstrip_coupler
src/create_bmp_for_rect_cen_in_rect
src/create_bmp_for_rect_cen_in_rect_coupler
src/create_bmp_for_rect_in_circ
src/create_bmp_for_rect_in_rect
src/create_bmp_for_stripline_coupler
src/create_bmp_for_symmetrical_stripline
src/design_coupler
src/find_optimal_dimensions_for_microstrip_coupler
src/readbin
stamp-h1
tests/.deps/
tests/Makefile
tools/Makefile
tools/src/.deps/
tools/src/Makefile
tools/src/coax
tools/src/dualcoax
tools/src/locatediff
tools/src/myfilelength
tools/src/mymd5sum
